@import "reset";
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&display=swap');
@import "font-awesome-sprockets";
@import "font-awesome";
@import "quizzes";
@import "users/*"